.gray {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 1.1em;
}

.gray:hover {
    color: #262626;
}

.section {
    color: #6d6d6d;
    text-decoration: none;
}

.section:hover {
    color: #262626;
}

.ancle-doc::before {
    content: url(../../angle-right-solid.svg);
    width: 0.75em;
    margin-top: 0.1em;
    margin-right: 0.4em;
    line-height: 0;
    transition: transform 0.3s ease;
}

.ancle-doc[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.ancle-doc[aria-expanded="true"] {
    color:black;
}


@media only screen and (min-width: 992px) {

    #border-sidebar {
        border-right: 1px solid #dee2e6;
        
    }

    #side-bar {
        position: sticky;
        top: 20px;
    }
    

    .left {
        width:80%;
        padding-left: 20px;
    }

    .right {
        width:20%;
    }
}

@media only screen and (max-width:991px) {
    #side-bar {
        border: 2px solid black;
        background-color: #dddddd;
        margin-bottom: 25px;
    }
}